{
  "openapi": "3.0.0",
  "info": {
    "title": "Mantis Bug Tracker REST API",
    "description": "Mantis Bug Tracker (MantisHub) REST APIs.\nREST API calls have to be authenticated by creating an API token for the user doing the calls, and then passing the API token in the 'Authorization' header.  However, for anonymous access, the API key and header are not needed.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://ec2-13-235-106-211.ap-south-1.compute.amazonaws.com:5000"
    }
  ],
  "tags": [
    {
      "name": "Issues",
      "description": "A set of REST API for handling issues."
    },
    {
      "name": "Projects",
      "description": "A set of REST APIs for handling projects."
    },
    {
      "name": "Pages"
    }
  ],
  "paths": {
    "/api/rest/issues/{issue_id}": {
      "get": {
        "summary": "Get Issue By Id",
        "description": "",
        "operationId": "getIssueByIssueId",
        "parameters": [
          {
            "name": "issue_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The issue id"
          }
        ],
        "responses": {
          "default": {
            "description": "Default error sample response"
          }
        }
      },
      "patch": {
        "summary": "",
        "description": "",
        "operationId": "patchIssueById",
        "parameters": [
          {
            "name": "issue_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The issue id"
          }
        ],
        "responses": {
          "default": {
            "description": "Default error sample response"
          }
        }
      },
      "delete": {
        "tags": [
          "Issues"
        ],
        "summary": "Delete an issue",
        "description": "Deletes an issue given its id. Available since MantisBT 2.3.0.",
        "operationId": "deleteIssueById",
        "parameters": [
          {
            "name": "issue_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The issue id",
            "example": "1234"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-store, no-cache, must-revalidate, max-age=0"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "gzip"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": ""
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 07 Jan 2018 23:32:58 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "5584552d93eb0f34ceecc1a65cca77d6c90a90df3f7f215b917606ccc06c2876"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=100"
                }
              },
              "Last-Modified": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 31 Dec 2017 19:58:54 GMT"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "Vary": {
                "schema": {
                  "type": "string",
                  "example": "Accept-Encoding"
                }
              },
              "X-Mantis-LoginMethod": {
                "schema": {
                  "type": "string",
                  "example": "api-token"
                }
              },
              "X-Mantis-Username": {
                "schema": {
                  "type": "string",
                  "example": "vboctoradmin"
                }
              },
              "X-Mantis-Version": {
                "schema": {
                  "type": "number",
                  "example": "2.11.0-dev"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "number",
                  "example": "PHP/7.1.8"
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": ""
              }
            }
          },
          "404": {
            "description": "Issue #1234 not found",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "private, max-age=10800"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "89"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json;charset=utf-8"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 07 Jan 2018 23:35:27 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=100"
                }
              },
              "Last-Modified": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 31 Dec 2017 19:58:54 GMT"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "number",
                  "example": "PHP/7.1.8"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "message": "Issue #1234 not found",
                  "code": 1100,
                  "localized": "Issue 1234 not found."
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/issues/{issue_id}/files": {
      "get": {
        "tags": [
          "Issues"
        ],
        "summary": "Get issue files",
        "description": "Get all files associated with an issue. Available since MantisBT 2.11.0.",
        "operationId": "getIssueFiles",
        "parameters": [
          {
            "name": "issue_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The issue id to get files for",
            "example": "1234"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-store, no-cache, must-revalidate, max-age=0"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "1509"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json;charset=utf-8"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 07 Jan 2018 22:43:16 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "1625146a518db1112fdce101781fae3f6b5b936ec3b02ab77a78705489cfee67"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=100"
                }
              },
              "Last-Modified": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 31 Dec 2017 19:58:54 GMT"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "X-Mantis-LoginMethod": {
                "schema": {
                  "type": "string",
                  "example": "api-token"
                }
              },
              "X-Mantis-Username": {
                "schema": {
                  "type": "string",
                  "example": "vboctoradmin"
                }
              },
              "X-Mantis-Version": {
                "schema": {
                  "type": "number",
                  "example": "2.11.0-dev"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "number",
                  "example": "PHP/7.1.8"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "issues": [
                    {
                      "id": 1,
                      "summary": "Sample issue title",
                      "description": "Sample issue description",
                      "project": {
                        "id": 1,
                        "name": "mantisbt"
                      },
                      "category": {
                        "id": 135,
                        "name": "General"
                      },
                      "reporter": {
                        "id": 1,
                        "name": "vboctor",
                        "real_name": "Victor Boctor",
                        "email": "vboctor@example.com"
                      },
                      "status": {
                        "id": 10,
                        "name": "new",
                        "label": "new",
                        "color": "#fcbdbd"
                      },
                      "resolution": {
                        "id": 10,
                        "name": "open",
                        "label": "open"
                      },
                      "view_state": {
                        "id": 10,
                        "name": "public",
                        "label": "public"
                      },
                      "priority": {
                        "id": 30,
                        "name": "normal",
                        "label": "normal"
                      },
                      "severity": {
                        "id": 50,
                        "name": "minor",
                        "label": "minor"
                      },
                      "reproducibility": {
                        "id": 70,
                        "name": "have not tried",
                        "label": "have not tried"
                      },
                      "sticky": false,
                      "created_at": "2017-04-23T13:12:28-04:00",
                      "updated_at": "2017-04-23T13:12:28-04:00",
                      "custom_fields": [
                        {
                          "field": {
                            "id": 4,
                            "name": "The City"
                          },
                          "value": "Seattle"
                        }
                      ],
                      "history": [
                        {
                          "created_at": "2017-04-23T13:12:28-04:00",
                          "user": {
                            "id": 36771,
                            "name": "vboctor",
                            "real_name": "Victor Boctor",
                            "email": "vboctor@example.com"
                          },
                          "type": {
                            "id": 1,
                            "name": "issue-new"
                          },
                          "message": "New Issue"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Issue #2192022 not found",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "private, max-age=10800"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "89"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json;charset=utf-8"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 07 Jan 2018 22:53:57 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=100"
                }
              },
              "Last-Modified": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 31 Dec 2017 19:58:54 GMT"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "number",
                  "example": "PHP/7.1.8"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "message": "Issue #200000 not found",
                  "code": 1100,
                  "localized": "Issue 200000 not found."
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Issues"
        ],
        "summary": "Add attachments to issue",
        "description": "Add attachments to an existing issue. Available since MantisBT 2.11.0.",
        "operationId": "addAttachmentToIssue",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "files": [
                    {
                      "name": "test.txt",
                      "content": "VGhpcyBpcyBhIFRFU1QuDQpUaGlzIGlzIGEgVEVTVC4NClRoaXMgaXMgYSBURVNULg0KVGhpcyBpcyBhIFRFU1QuDQpUaGlzIGlzIGEgVEVTVC4="
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "issue_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The issue id",
            "example": "1234"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/rest/issues/{issue_id}/files/{file_id}": {
      "get": {
        "tags": [
          "Issues"
        ],
        "summary": "Get issue file (single)",
        "description": "Get a single file from an issue. Available since MantisBT 2.11.0.",
        "operationId": "getIssueFile",
        "parameters": [
          {
            "name": "issue_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The issue id"
          },
          {
            "name": "file_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The attachment file id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/rest/issues": {
      "get": {
        "tags": [
          "Issues"
        ],
        "summary": "Get unassigned issues",
        "description": "This is a standard filter that gets unassigned issues. Available since MantisBT 2.10.0.",
        "operationId": "getUnassignedIssues",
        "parameters": [
          {
            "name": "filter_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "The filter id",
            "example": "unassigned"
          },
		  {
			"name": "project_id",
			"in": "query",
			"schema": {
			"type": "string"
			},
			"description": "The project id",
			"example": "project"
		}
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "post": {
        "tags": [
          "Issues"
        ],
        "summary": "Create an issue with attachments",
        "description": "Create an issue with attachments Available since MantisBT 2.12.0.",
        "operationId": "createIssueWithAttachment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "summary": "Sample REST issue with attachment",
                  "description": "Description for sample REST issue.",
                  "project": {
                    "id": 1,
                    "name": "mantisbt"
                  },
                  "category": {
                    "id": 5,
                    "name": "bugtracker"
                  },
                  "custom_fields": [
                    {
                      "field": {
                        "id": 4,
                        "name": "The City"
                      },
                      "value": "Seattle"
                    }
                  ],
                  "files": [
                    {
                      "name": "test.txt",
                      "content": "VGhpcyBpcyBhIFRFU1QuDQpUaGlzIGlzIGEgVEVTVC4NClRoaXMgaXMgYSBURVNULg0KVGhpcyBpcyBhIFRFU1QuDQpUaGlzIGlzIGEgVEVTVC4="
                    },
                    {
                      "name": "test2.txt",
                      "content": "VGhpcyBpcyBhIFRFU1QuDQpUaGlzIGlzIGEgVEVTVC4NClRoaXMgaXMgYSBURVNULg0KVGhpcyBpcyBhIFRFU1QuDQpUaGlzIGlzIGEgVEVTVC4="
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Issue Created with id 22131",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-store, no-cache, must-revalidate, max-age=0"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "2401"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json;charset=utf-8"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 07 Jan 2018 23:47:34 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=100"
                }
              },
              "Last-Modified": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 31 Dec 2017 19:58:54 GMT"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "X-Mantis-LoginMethod": {
                "schema": {
                  "type": "string",
                  "example": "api-token"
                }
              },
              "X-Mantis-Username": {
                "schema": {
                  "type": "string",
                  "example": "EvilMan"
                }
              },
              "X-Mantis-Version": {
                "schema": {
                  "type": "number",
                  "example": "2.11.0-dev"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "number",
                  "example": "PHP/7.1.8"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "issue": {
                    "id": 1,
                    "summary": "Sample REST issue",
                    "description": "Description for sample REST issue.",
                    "additional_information": "More info about the issue",
                    "project": {
                      "id": 1,
                      "name": "mantisbt"
                    },
                    "category": {
                      "id": 5,
                      "name": "bugtracker"
                    },
                    "reporter": {
                      "id": 2,
                      "name": "GermanReporter"
                    },
                    "handler": {
                      "id": 1,
                      "name": "vboctor"
                    },
                    "status": {
                      "id": 50,
                      "name": "assigned",
                      "label": "zugewiesen",
                      "color": "#c2dfff"
                    },
                    "resolution": {
                      "id": 10,
                      "name": "open",
                      "label": "offen"
                    },
                    "view_state": {
                      "id": 10,
                      "name": "public",
                      "label": "öffentlich"
                    },
                    "priority": {
                      "id": 30,
                      "name": "normal",
                      "label": "normal"
                    },
                    "severity": {
                      "id": 20,
                      "name": "trivial",
                      "label": "Trivial"
                    },
                    "reproducibility": {
                      "id": 10,
                      "name": "always",
                      "label": "immer"
                    },
                    "sticky": false,
                    "created_at": "2018-01-07T18:47:35-05:00",
                    "updated_at": "2018-01-07T18:47:35-05:00",
                    "custom_fields": [
                      {
                        "field": {
                          "id": 4,
                          "name": "The City"
                        },
                        "value": "Seattle"
                      }
                    ],
                    "tags": [
                      {
                        "id": "1",
                        "name": "mantishub"
                      }
                    ],
                    "history": [
                      {
                        "created_at": "2018-01-07T18:47:35-05:00",
                        "user": {
                          "id": 2,
                          "name": "GermanReporter",
                          "email": "german-reporter@example.com"
                        },
                        "type": {
                          "id": 1,
                          "name": "issue-new"
                        },
                        "message": "Neuer Eintrag"
                      },
                      {
                        "created_at": "2018-01-07T18:47:35-05:00",
                        "user": {
                          "id": 2,
                          "name": "GermanReporter",
                          "email": "german-reporter@example.com"
                        },
                        "field": {
                          "name": "status",
                          "label": "Status"
                        },
                        "type": {
                          "id": 0,
                          "name": "field-updated"
                        },
                        "old_value": {
                          "id": 10,
                          "name": "new",
                          "label": "neu",
                          "color": "#fcbdbd"
                        },
                        "new_value": {
                          "id": 50,
                          "name": "assigned",
                          "label": "zugewiesen",
                          "color": "#c2dfff"
                        },
                        "message": "Status",
                        "change": "neu => zugewiesen"
                      },
                      {
                        "created_at": "2018-01-07T18:47:35-05:00",
                        "user": {
                          "id": 2,
                          "name": "GermanReporter",
                          "email": "german-reporter@example.com"
                        },
                        "field": {
                          "name": "handler",
                          "label": "Bearbeitung durch"
                        },
                        "type": {
                          "id": 0,
                          "name": "field-updated"
                        },
                        "old_value": {
                          "id": 0
                        },
                        "new_value": {
                          "id": 1,
                          "name": "vboctor"
                        },
                        "message": "Bearbeitung durch",
                        "change": " => vboctor"
                      },
                      {
                        "created_at": "2018-01-07T18:47:35-05:00",
                        "user": {
                          "id": 2,
                          "name": "GermanReporter",
                          "email": "german-reporter@example.com"
                        },
                        "type": {
                          "id": 25,
                          "name": "tag-added"
                        },
                        "tag": {
                          "id": "1",
                          "name": "mantishub"
                        },
                        "message": "Tag zugeordnet: mantishub"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/issues/": {
      "post": {
        "tags": [
          "Issues"
        ],
        "summary": "Create an issue (minimal)",
        "description": "Shows the creation of issue with minimal information.Available since MantisBT 2.3.0.",
        "operationId": "createIssueMinimal",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "summary": "This is a test issue",
                  "description": "This is a test description",
                  "category": {
                    "name": "General"
                  },
                  "project": {
                    "name": "project1"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/rest/issues/{issue_id}/notes": {
      "post": {
        "tags": [
          "Issues"
        ],
        "summary": "Create an issue note with attachment",
        "operationId": "createIssueWithNote",
        "description": "Create an issue note with an associated attachment. Available since MantisBT 2.6.0.  Attachments supported since MantisBT 2.11.0.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "text": "test note",
                  "view_state": {
                    "name": "public"
                  },
                  "time_tracking": {
                    "duration": "00:15"
                  },
                  "files": [
                    {
                      "name": "test.txt",
                      "content": "VGhpcyBpcyBhIFRFU1QuDQpUaGlzIGlzIGEgVEVTVC4NClRoaXMgaXMgYSBURVNULg0KVGhpcyBpcyBhIFRFU1QuDQpUaGlzIGlzIGEgVEVTVC4="
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "issue_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The issue id",
            "example": "1234"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/rest/issues/{issue_id}/notes/{issue_note_id}": {
      "delete": {
        "tags": [
          "Issues"
        ],
        "summary": "Delete an issue note",
        "description": "Delete an issue note. Available since MantisBT 2.6.0.",
        "operationId": "deleteIssueNote",
        "parameters": [
          {
            "name": "issue_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The issue id",
            "example": "1234"
          },
          {
            "name": "issue_note_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The issue note id",
            "example": "12340"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/rest/issues/{issue_id}/monitors": {
      "post": {
        "tags": [
          "Issues"
        ],
        "summary": "Monitor an issue (for specified users)",
        "operationId": "createIssueMonitor",
        "description": "Have one or more users monitor the specified issue.  The users can be identified via:- - id - their user id. - name - their username - email - their email address - name_or_realname - a string that corresponds to their username or real name. If user id is not specified, the logged in user id is added to the issue as the monitoring user. If user id is not the same as logged in user id, a high access level is required which enables adding other users to the monitor list. Available since MantisBT 2.11.0.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "users": [
                    {
                      "name": "vboctor-admin"
                    },
                    {
                      "name_or_realname": "Victor Boctor"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "issue_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The issue id",
            "example": "1234"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/rest/issues/{issue_id}/tags": {
      "post": {
        "tags": [
          "Issues"
        ],
        "summary": "Detach a tag from an issue",
        "description": "Detach a tag from an issue. Available since MantisBT 2.11.0.",
        "operationId": "detachTagFromIssue",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "tag_id": 1
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "issue_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The issue id",
            "example": "1234"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/rest/issues/{issue_id}/relationships/": {
      "post": {
        "tags": [
          "Issues"
        ],
        "summary": "Add an issue relatiobship",
        "description": "Delete an issue relationship. Available since MantisBT 2.6.0.",
        "operationId": "addIssueRelationShip",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "issue": {
                    "id": 22030
                  },
                  "type": {
                    "name": "related-to"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "issue_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The issue id",
            "example": "1234"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/rest/issues/{issue_id}/relationships/{relationship_id}": {
      "delete": {
        "tags": [
          "Issues"
        ],
        "summary": "Delete an issue relationship",
        "operationId": "deleteIssueRelationShip",
        "description": "Delete an issue relationship. Available since MantisBT 2.6.0.",
        "parameters": [
          {
            "name": "issue_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The issue id",
            "example": "1234"
          },
          {
            "name": "relationship_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "The relationship id"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/rest/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get all projects",
        "operationId": "getAllProjects",
        "description": "Get all projects and sub-projects accessible to user. Available since MantisBT 2.5.0.",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-store, no-cache, must-revalidate, max-age=0"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "51651"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json;charset=utf-8"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 14 Jan 2018 18:01:42 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=100"
                }
              },
              "Last-Modified": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 14 Jan 2018 01:07:49 GMT"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "X-Mantis-LoginMethod": {
                "schema": {
                  "type": "string",
                  "example": "api-token"
                }
              },
              "X-Mantis-Username": {
                "schema": {
                  "type": "string",
                  "example": "vboctoradmin"
                }
              },
              "X-Mantis-Version": {
                "schema": {
                  "type": "number",
                  "example": "2.11.0-dev"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "number",
                  "example": "PHP/7.1.8"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "projects": [
                    {
                      "id": 1,
                      "name": "mantisbt",
                      "status": {
                        "id": 10,
                        "name": "development",
                        "label": "development"
                      },
                      "description": "Mantis.  Report problems with the actual bug tracker here. (Do not remove this account)",
                      "enabled": true,
                      "view_state": {
                        "id": 10,
                        "name": "public",
                        "label": "public"
                      },
                      "access_level": {
                        "id": 90,
                        "name": "administrator",
                        "label": "administrator"
                      },
                      "custom_fields": [
                        {
                          "id": 8,
                          "name": "Email",
                          "type": "email",
                          "default_value": "",
                          "possible_values": "",
                          "valid_regexp": "",
                          "length_min": 0,
                          "length_max": 0,
                          "access_level_r": {
                            "id": 10,
                            "name": "viewer",
                            "label": "viewer"
                          },
                          "access_level_rw": {
                            "id": 10,
                            "name": "viewer",
                            "label": "viewer"
                          },
                          "display_report": true,
                          "display_update": true,
                          "display_resolved": true,
                          "display_closed": true,
                          "require_report": false,
                          "require_update": false,
                          "require_resolved": false,
                          "require_closed": false
                        },
                        {
                          "id": 1,
                          "name": "Version Enum",
                          "type": "enum",
                          "default_value": "",
                          "possible_values": "0.0.13",
                          "valid_regexp": "",
                          "length_min": 0,
                          "length_max": 0,
                          "access_level_r": {
                            "id": 10,
                            "name": "viewer",
                            "label": "viewer"
                          },
                          "access_level_rw": {
                            "id": 55,
                            "name": "developer",
                            "label": "developer"
                          },
                          "display_report": true,
                          "display_update": true,
                          "display_resolved": true,
                          "display_closed": true,
                          "require_report": false,
                          "require_update": false,
                          "require_resolved": false,
                          "require_closed": false
                        },
                        {
                          "id": 5,
                          "name": "Floaty",
                          "type": "float",
                          "default_value": "",
                          "possible_values": "",
                          "valid_regexp": "",
                          "length_min": 0,
                          "length_max": 0,
                          "access_level_r": {
                            "id": 10,
                            "name": "viewer",
                            "label": "viewer"
                          },
                          "access_level_rw": {
                            "id": 10,
                            "name": "viewer",
                            "label": "viewer"
                          },
                          "display_report": true,
                          "display_update": true,
                          "display_resolved": true,
                          "display_closed": true,
                          "require_report": false,
                          "require_update": false,
                          "require_resolved": false,
                          "require_closed": false
                        },
                        {
                          "id": 6,
                          "name": "Listy",
                          "type": "multilist",
                          "default_value": "",
                          "possible_values": "a|b|c|d|e|f|g",
                          "valid_regexp": "",
                          "length_min": 0,
                          "length_max": 0,
                          "access_level_r": {
                            "id": 10,
                            "name": "viewer",
                            "label": "viewer"
                          },
                          "access_level_rw": {
                            "id": 10,
                            "name": "viewer",
                            "label": "viewer"
                          },
                          "display_report": true,
                          "display_update": true,
                          "display_resolved": false,
                          "display_closed": false,
                          "require_report": false,
                          "require_update": false,
                          "require_resolved": false,
                          "require_closed": false
                        },
                        {
                          "id": 3,
                          "name": "Place in Queue",
                          "type": "float",
                          "default_value": "",
                          "possible_values": "",
                          "valid_regexp": "",
                          "length_min": 0,
                          "length_max": 0,
                          "access_level_r": {
                            "id": 10,
                            "name": "viewer",
                            "label": "viewer"
                          },
                          "access_level_rw": {
                            "id": 10,
                            "name": "viewer",
                            "label": "viewer"
                          },
                          "display_report": true,
                          "display_update": true,
                          "display_resolved": false,
                          "display_closed": false,
                          "require_report": false,
                          "require_update": false,
                          "require_resolved": false,
                          "require_closed": false
                        },
                        {
                          "id": 10,
                          "name": "SomeCheckbox",
                          "type": "checkbox",
                          "default_value": "",
                          "possible_values": "Test|Test2",
                          "valid_regexp": "",
                          "length_min": 0,
                          "length_max": 0,
                          "access_level_r": {
                            "id": 10,
                            "name": "viewer",
                            "label": "viewer"
                          },
                          "access_level_rw": {
                            "id": 10,
                            "name": "viewer",
                            "label": "viewer"
                          },
                          "display_report": true,
                          "display_update": true,
                          "display_resolved": true,
                          "display_closed": true,
                          "require_report": false,
                          "require_update": false,
                          "require_resolved": false,
                          "require_closed": false
                        },
                        {
                          "id": 7,
                          "name": "SomeDate",
                          "type": "date",
                          "default_value": "{+2 days}",
                          "possible_values": "",
                          "valid_regexp": "",
                          "length_min": 0,
                          "length_max": 0,
                          "access_level_r": {
                            "id": 10,
                            "name": "viewer",
                            "label": "viewer"
                          },
                          "access_level_rw": {
                            "id": 25,
                            "name": "reporter",
                            "label": "reporter"
                          },
                          "display_report": true,
                          "display_update": true,
                          "display_resolved": false,
                          "display_closed": false,
                          "require_report": false,
                          "require_update": false,
                          "require_resolved": false,
                          "require_closed": false
                        },
                        {
                          "id": 11,
                          "name": "SomeRadio",
                          "type": "9",
                          "default_value": "",
                          "possible_values": "Radio1|Radio2",
                          "valid_regexp": "",
                          "length_min": 0,
                          "length_max": 0,
                          "access_level_r": {
                            "id": 10,
                            "name": "viewer",
                            "label": "viewer"
                          },
                          "access_level_rw": {
                            "id": 10,
                            "name": "viewer",
                            "label": "viewer"
                          },
                          "display_report": true,
                          "display_update": true,
                          "display_resolved": true,
                          "display_closed": true,
                          "require_report": false,
                          "require_update": false,
                          "require_resolved": false,
                          "require_closed": false
                        },
                        {
                          "id": 9,
                          "name": "SomeTextArea",
                          "type": "textarea",
                          "default_value": "",
                          "possible_values": "",
                          "valid_regexp": "",
                          "length_min": 0,
                          "length_max": 0,
                          "access_level_r": {
                            "id": 10,
                            "name": "viewer",
                            "label": "viewer"
                          },
                          "access_level_rw": {
                            "id": 10,
                            "name": "viewer",
                            "label": "viewer"
                          },
                          "display_report": true,
                          "display_update": true,
                          "display_resolved": true,
                          "display_closed": true,
                          "require_report": false,
                          "require_update": false,
                          "require_resolved": false,
                          "require_closed": false
                        },
                        {
                          "id": 4,
                          "name": "The City",
                          "type": "string",
                          "default_value": "",
                          "possible_values": "",
                          "valid_regexp": "",
                          "length_min": 0,
                          "length_max": 0,
                          "access_level_r": {
                            "id": 10,
                            "name": "viewer",
                            "label": "viewer"
                          },
                          "access_level_rw": {
                            "id": 25,
                            "name": "reporter",
                            "label": "reporter"
                          },
                          "display_report": true,
                          "display_update": true,
                          "display_resolved": true,
                          "display_closed": true,
                          "require_report": true,
                          "require_update": true,
                          "require_resolved": true,
                          "require_closed": true
                        }
                      ],
                      "versions": [
                        {
                          "id": 258,
                          "name": "2.0.x",
                          "description": "",
                          "released": false,
                          "obsolete": false,
                          "timestamp": "2016-10-02T18:45:04-04:00"
                        },
                        {
                          "id": 257,
                          "name": "1.3.x",
                          "description": "",
                          "released": false,
                          "obsolete": false,
                          "timestamp": "2016-10-02T18:44:00-04:00"
                        },
                        {
                          "id": 256,
                          "name": "2.0.0-beta.3",
                          "description": "",
                          "released": true,
                          "obsolete": false,
                          "timestamp": "2016-10-02T11:31:00-04:00"
                        },
                        {
                          "id": 255,
                          "name": "1.3.2",
                          "description": "",
                          "released": true,
                          "obsolete": false,
                          "timestamp": "2016-10-02T11:30:00-04:00"
                        },
                        {
                          "id": 254,
                          "name": "2.0.0-beta.2",
                          "description": "",
                          "released": true,
                          "obsolete": false,
                          "timestamp": "2016-08-27T04:00:00-04:00"
                        },
                        {
                          "id": 253,
                          "name": "1.3.1",
                          "description": "",
                          "released": true,
                          "obsolete": false,
                          "timestamp": "2016-08-27T03:00:00-04:00"
                        },
                        {
                          "id": 240,
                          "name": "1.2.20",
                          "description": "MantisBT 1.2.20 is the final maintenance and security release for the 1.2.x series. \r\nAll installations that are currently running any 1.2.x version are strongly advised to upgrade. \r\n\r\nThis release resolves 3 security and a couple of PHP 7 compatibility issues.\r\n",
                          "released": true,
                          "obsolete": false,
                          "timestamp": "2016-08-14T18:00:00-04:00"
                        },
                        {
                          "id": 243,
                          "name": "2.0.0-beta.1",
                          "description": "MantisBT 2.0.0 release focuses on improvements to the UI compared to 1.3.x release. As of this release, the db schema is the same between 1.3.x and 2.0.0-beta.1, enabling users to easily try 2.0.0-beta.1 and provide feedback.",
                          "released": true,
                          "obsolete": false,
                          "timestamp": "2016-07-19T14:15:00-04:00"
                        },
                        {
                          "id": 250,
                          "name": "1.3.0",
                          "description": "MantisBT 1.3.0 stable release",
                          "released": true,
                          "obsolete": false,
                          "timestamp": "2016-07-09T19:26:00-04:00"
                        }
                      ],
                      "categories": [
                        {
                          "id": 2,
                          "name": "administration",
                          "project": {
                            "id": 1,
                            "name": "mantisbt"
                          }
                        },
                        {
                          "id": 3,
                          "name": "api soap",
                          "project": {
                            "id": 1,
                            "name": "mantisbt"
                          }
                        },
                        {
                          "id": 71,
                          "name": "attachments",
                          "project": {
                            "id": 1,
                            "name": "mantisbt"
                          }
                        },
                        {
                          "id": 70,
                          "name": "auth openid",
                          "project": {
                            "id": 1,
                            "name": "mantisbt"
                          }
                        },
                        {
                          "id": 4,
                          "name": "authentication",
                          "project": {
                            "id": 1,
                            "name": "mantisbt"
                          }
                        },
                        {
                          "id": 132,
                          "name": "authorization",
                          "project": {
                            "id": 1,
                            "name": "mantisbt"
                          }
                        },
                        {
                          "id": 5,
                          "name": "bugtracker",
                          "project": {
                            "id": 1,
                            "name": "mantisbt"
                          }
                        },
                        {
                          "id": 6,
                          "name": "change log",
                          "project": {
                            "id": 1,
                            "name": "mantisbt"
                          }
                        }
                      ],
                      "subProjects": [
                        {
                          "id": 31,
                          "name": "SubProject1"
                        }
                      ]
                    },
                    {
                      "id": 20,
                      "name": "Mylyn Connector",
                      "status": {
                        "id": 50,
                        "name": "stable",
                        "label": "stable"
                      },
                      "description": "Eclipse Mylyn Connector for MantisBT",
                      "enabled": true,
                      "view_state": {
                        "id": 10,
                        "name": "public",
                        "label": "public"
                      },
                      "access_level": {
                        "id": 90,
                        "name": "administrator",
                        "label": "administrator"
                      },
                      "custom_fields": [],
                      "versions": [
                        {
                          "id": 151,
                          "name": "Backlog",
                          "description": "Issues accepted but not yet assigned to a release.",
                          "released": false,
                          "obsolete": false,
                          "timestamp": "2037-12-30T19:00:00-05:00"
                        },
                        {
                          "id": 237,
                          "name": "3.11.0",
                          "description": "",
                          "released": false,
                          "obsolete": false,
                          "timestamp": "2014-08-31T17:00:00-04:00"
                        }
                      ],
                      "categories": [
                        {
                          "id": 75,
                          "name": "Build",
                          "project": {
                            "id": 20,
                            "name": "Mylyn Connector"
                          }
                        },
                        {
                          "id": 76,
                          "name": "Core",
                          "project": {
                            "id": 20,
                            "name": "Mylyn Connector"
                          }
                        },
                        {
                          "id": 1,
                          "name": "General",
                          "project": {
                            "id": 0,
                            "name": null
                          }
                        },
                        {
                          "id": 73,
                          "name": "Infrastructure",
                          "project": {
                            "id": 20,
                            "name": "Mylyn Connector"
                          }
                        },
                        {
                          "id": 77,
                          "name": "Tests",
                          "project": {
                            "id": 20,
                            "name": "Mylyn Connector"
                          }
                        },
                        {
                          "id": 78,
                          "name": "User Interface",
                          "project": {
                            "id": 20,
                            "name": "Mylyn Connector"
                          }
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create a project",
        "description": "Create a project. Available since MantisBT 2.17.0.",
        "operationId": "createProject",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "id": 1,
                  "name": "_new2",
                  "status": {
                    "id": 10,
                    "name": "development",
                    "label": "development"
                  },
                  "description": "Mantis.  Report problems with the actual bug tracker here. (Do not remove this account)",
                  "enabled": true,
                  "file_path": "/tmp/",
                  "view_state": {
                    "id": 10,
                    "name": "public",
                    "label": "public"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/rest/projects/{project_id}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Get a project",
        "description": "Get a project given its id. Available since MantisBT 2.14.0.",
        "operationId": "getProjectyId",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The project id",
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-store, no-cache, must-revalidate, max-age=0"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "51651"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json;charset=utf-8"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 14 Jan 2018 18:01:42 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=100"
                }
              },
              "Last-Modified": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 14 Jan 2018 01:07:49 GMT"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "X-Mantis-LoginMethod": {
                "schema": {
                  "type": "string",
                  "example": "api-token"
                }
              },
              "X-Mantis-Username": {
                "schema": {
                  "type": "string",
                  "example": "vboctoradmin"
                }
              },
              "X-Mantis-Version": {
                "schema": {
                  "type": "number",
                  "example": "2.11.0-dev"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "number",
                  "example": "PHP/7.1.8"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "projects": [
                    {
                      "id": 1,
                      "name": "mantisbt",
                      "status": {
                        "id": 10,
                        "name": "development",
                        "label": "development"
                      },
                      "description": "Mantis Project",
                      "enabled": true,
                      "view_state": {
                        "id": 10,
                        "name": "public",
                        "label": "public"
                      },
                      "access_level": {
                        "id": 90,
                        "name": "administrator",
                        "label": "administrator"
                      },
                      "custom_fields": [
                        {
                          "id": 8,
                          "name": "Email",
                          "type": "email",
                          "default_value": "",
                          "possible_values": "",
                          "valid_regexp": "",
                          "length_min": 0,
                          "length_max": 0,
                          "access_level_r": {
                            "id": 10,
                            "name": "viewer",
                            "label": "viewer"
                          },
                          "access_level_rw": {
                            "id": 10,
                            "name": "viewer",
                            "label": "viewer"
                          },
                          "display_report": true,
                          "display_update": true,
                          "display_resolved": true,
                          "display_closed": true,
                          "require_report": false,
                          "require_update": false,
                          "require_resolved": false,
                          "require_closed": false
                        }
                      ],
                      "versions": [
                        {
                          "id": 258,
                          "name": "2.0.x",
                          "description": "",
                          "released": false,
                          "obsolete": false,
                          "timestamp": "2016-10-02T18:45:04-04:00"
                        }
                      ],
                      "subProjects": [
                        {
                          "id": 31,
                          "name": "SubProject1"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Projects"
        ],
        "summary": "Update a project",
        "description": "Update a project. Available since MantisBT 2.17.0.",
        "operationId": "updateProjectById",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "id": 33,
                  "name": "_new2bx",
                  "enabled": false
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "example": "12"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Projects"
        ],
        "summary": "Delete a sub-project",
        "description": "Deletes a sub-project from parent project.  Note that this doesn't delete data associated with sub-project. Available since MantisBT 2.20.0.",
        "operationId": "deleteProjectById",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The project id",
            "example": "12"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-store, no-cache, must-revalidate, max-age=0"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "51651"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json;charset=utf-8"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 14 Jan 2018 18:01:42 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=100"
                }
              },
              "Last-Modified": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 14 Jan 2018 01:07:49 GMT"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "X-Mantis-LoginMethod": {
                "schema": {
                  "type": "string",
                  "example": "api-token"
                }
              },
              "X-Mantis-Username": {
                "schema": {
                  "type": "string",
                  "example": "vboctoradmin"
                }
              },
              "X-Mantis-Version": {
                "schema": {
                  "type": "number",
                  "example": "2.11.0-dev"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "number",
                  "example": "PHP/7.1.8"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "projects": [
                    {
                      "id": 1,
                      "name": "mantisbt",
                      "status": {
                        "id": 10,
                        "name": "development",
                        "label": "development"
                      },
                      "description": "Mantis Project",
                      "enabled": true,
                      "view_state": {
                        "id": 10,
                        "name": "public",
                        "label": "public"
                      },
                      "access_level": {
                        "id": 90,
                        "name": "administrator",
                        "label": "administrator"
                      },
                      "custom_fields": [
                        {
                          "id": 8,
                          "name": "Email",
                          "type": "email",
                          "default_value": "",
                          "possible_values": "",
                          "valid_regexp": "",
                          "length_min": 0,
                          "length_max": 0,
                          "access_level_r": {
                            "id": 10,
                            "name": "viewer",
                            "label": "viewer"
                          },
                          "access_level_rw": {
                            "id": 10,
                            "name": "viewer",
                            "label": "viewer"
                          },
                          "display_report": true,
                          "display_update": true,
                          "display_resolved": true,
                          "display_closed": true,
                          "require_report": false,
                          "require_update": false,
                          "require_resolved": false,
                          "require_closed": false
                        }
                      ],
                      "versions": [
                        {
                          "id": 258,
                          "name": "2.0.x",
                          "description": "",
                          "released": false,
                          "obsolete": false,
                          "timestamp": "2016-10-02T18:45:04-04:00"
                        }
                      ],
                      "subProjects": [
                        {
                          "id": 31,
                          "name": "SubProject1"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/projects/{project_id}/subprojects": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Add a sub-project",
        "description": "Add a subproject to the specified project id. Available since MantisBT 2.20.0.",
        "operationId": "addSubProject",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "project": {
                    "name": "SubProject1"
                  },
                  "inherit_parent": true
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The project id",
            "example": "12"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-store, no-cache, must-revalidate, max-age=0"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "Keep-Alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "integer",
                  "example": "51651"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json;charset=utf-8"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 14 Jan 2018 18:01:42 GMT"
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5, max=100"
                }
              },
              "Last-Modified": {
                "schema": {
                  "type": "string",
                  "example": "Sun, 14 Jan 2018 01:07:49 GMT"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "Apache"
                }
              },
              "X-Mantis-LoginMethod": {
                "schema": {
                  "type": "string",
                  "example": "api-token"
                }
              },
              "X-Mantis-Username": {
                "schema": {
                  "type": "string",
                  "example": "vboctoradmin"
                }
              },
              "X-Mantis-Version": {
                "schema": {
                  "type": "number",
                  "example": "2.11.0-dev"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "number",
                  "example": "PHP/7.1.8"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "projects": [
                    {
                      "id": 1,
                      "name": "mantisbt",
                      "status": {
                        "id": 10,
                        "name": "development",
                        "label": "development"
                      },
                      "description": "Mantis Project",
                      "enabled": true,
                      "view_state": {
                        "id": 10,
                        "name": "public",
                        "label": "public"
                      },
                      "access_level": {
                        "id": 90,
                        "name": "administrator",
                        "label": "administrator"
                      },
                      "custom_fields": [
                        {
                          "id": 8,
                          "name": "Email",
                          "type": "email",
                          "default_value": "",
                          "possible_values": "",
                          "valid_regexp": "",
                          "length_min": 0,
                          "length_max": 0,
                          "access_level_r": {
                            "id": 10,
                            "name": "viewer",
                            "label": "viewer"
                          },
                          "access_level_rw": {
                            "id": 10,
                            "name": "viewer",
                            "label": "viewer"
                          },
                          "display_report": true,
                          "display_update": true,
                          "display_resolved": true,
                          "display_closed": true,
                          "require_report": false,
                          "require_update": false,
                          "require_resolved": false,
                          "require_closed": false
                        }
                      ],
                      "versions": [
                        {
                          "id": 258,
                          "name": "2.0.x",
                          "description": "",
                          "released": false,
                          "obsolete": false,
                          "timestamp": "2016-10-02T18:45:04-04:00"
                        }
                      ],
                      "subProjects": [
                        {
                          "id": 31,
                          "name": "SubProject1"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/rest/projects/{project_id}/subprojects/{subproject_id}": {
      "patch": {
        "tags": [
          "Projects"
        ],
        "summary": "Update a subproject",
        "operationId": "updateSubProjectByProjectId",
        "description": "Update the subproject relationship properties. Available since MantisBT 2.20.0.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "project": {
                    "name": "Subproject1"
                  },
                  "inherit_parent": true
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "example": "12"
          },
          {
            "name": "subproject_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "example": "34"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/rest/projects/{project_id}/versions/": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create a project version",
        "description": "Add a project version. Only name field is required. Timestamp accepts date formats that can be parsed by PHP strtotime(). Available since MantisBT 2.15.0.",
        "operationId": "createProjectVersion",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "name": "v1.0.0",
                  "description": "Major new version",
                  "released": true,
                  "obsolete": false,
                  "timestamp": "2020-02-20"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The project id",
            "example": "12"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  }
}