.sidebar {
    width: var(--sidebar-width);
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease 0s;
}

.sidebar.collapsed{
    width: 52px;
}

.sidebar.collapsed .sidebar-icon{
    margin-right: 0;
    padding-right: 0;
    font-size: 1.4rem !important;
    transition: all 0.3s ease 0s;
}

.sidebar.collapsed .sidebar-text {
    display: none;
}

.sidebar__logo {
    height: 56px;
    font-weight: 700;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.3s ease 0s;
}

.sidebar__logo .collapse-button {
    font-size: 2rem;
    z-index: 100;
}

.sidebar__item {
    padding: 0 10px;
}

.sidebar__item-inner {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    transition: color 0.3s ease 0s;
}

.sidebar__item-inner > i {
    margin-right: 10px;
    font-size: 1rem;
}

.sidebar__item-inner > span {
    text-transform: capitalize;
}

.sidebar__item-inner:hover {
    color: var(--main-color);
}

.sidebar__item-inner.active {
    border-radius: var(--border-radius);
    
    color: var(--second-color);
}
